<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{{ static_url('style.css') }}">
    <title>The alpha Munger</title>
</head>
<body>
    <h1>The Alpha Munger</h1>
    <p>Enter two texts below. the replacement text will have its word replaced by word begging with 
        the same letter in the source text.</p>
    <form method="post" action="/poem">
        <p>Source Text<br>
            <textarea name="source" cols="4" rows="55"></textarea>
        </p>
        <p>
            Text for replacement<br>
                <textarea name="change" cols="4" rows="55"></textarea>
        </p>
        <input type="submit">
    </form>
</body>
</html>